// Breakpoints
$width-lg: 1170px;
$width-md: 1000px;
$width-sm: 800px;

// Colors
$white: #fff;
$black: #000;
$black-transparent: rgba($black, .5);
$transparent: rgba($black, 0);

$white-alabaster: #f5f5f5;
$grey-silver: #e6e6e6;
$grey-steel: #7e8187;
$gray-iron: #4d5158;
$grey-nevada: #595e69;
$grey-mako: #43474e;
$grey-graphite: #373b43;
$black-coal: #2c3038;
$green-mint: #7ae19a;
$green-emerald: #3fd46c;
$green-olive: #66ac21;
$red: #e31010;
$yellow: #ffeea9;
$orange: #ff8a19;
$blue: #0f3c99;
$blue-teacher: #00c7ec;

$border: .1rem solid $grey-silver;
$shadow: 0 .3rem 1rem -.4rem $black;
