<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista przedmiotów</title>
</head>

<body>
    <div class="pwa-container">
        <div class="pwa-lead">
            <div class="pwa-lead__text-wrapper">
                <h2 class="pwa-lead__title">Tytuł komponentu np. Słownik motywów kulturowych</h2>
                <p class="pwa-lead__description">Krótki opis komponentu np.</p>
            </div>
        </div>
        <ul class="flatlist">
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="flatearth flatearth-pwa-arrow-down"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                j. polski
                            </h3>
                            <span class="flatlist-item__description">
                                poziom podstawowy
                            </span>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon flatlist-item__icon--lock">
                        <span class="tm-icon pwa-matematyka"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                matematyka
                            </h3>
                            <span class="flatlist-item__description">
                                poziom podstawowy
                            </span>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-jezyk-angielski"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                j. angielski
                            </h3>
                            <span class="flatlist-item__description">
                                – poziom rozszerzony
                            </span>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-geografia"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                geografia
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-biologia"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                biologia
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-historia"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                historia
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-fizyka"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                fizyka
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-jezyk-niemiecki"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                niemiecki
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-wiedza-o-spoleczenstwie"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                wos
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="flatlist-item">
                <div class="flatlist-item__container">
                    <span class="flatlist-item__icon">
                        <span class="tm-icon pwa-chemia"></span>
                    </span>
                    <div class="flatlist-item__content">
                        <div class="flatlist-item__text">
                            <h3 class="flatlist-item__title">
                                chemia
                            </h3>
                        </div>
                        <a href="#" class="flatlist-item__btn">
                            więcej
                            <span class="tm-icon pwa-arrow-right flatlist-item__btn-icon"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
