<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spis treści statycznych</title>
</head>

<body>
    <main>
        <div class="columns-2">
            <div class="columns-2__column">
                <img class="earth-image" src="./images/earth.jpg" alt="Earth is goddamn flat">
            </div>
            <div class="columns-2__column">
                <div class="background-earth"></div>
            </div>
        </div>
        <span class="flatearth flatearth-pwa-arrow-down"></span>
        <h2>Lista komponentów:</h2>
        <ul>
            <li><a href="templates/components/flatlist.html">Flatlista</a></li>
        </ul>
        <h2>Lista podstron:</h2>
    </main>
</body>

</html>
